body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #28443e; 
    color: #ffffff; 
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  header {
    background-color: #0f1d1b; 
    text-align: center;
    padding: 1rem 0;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  #errorMessage {
    margin: 1rem;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 1rem;
  }
  
  #userSearchInput {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  #searchButton {
    background-color: #407050; 
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .carousel-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
    max-height: 800px;
    margin-bottom: 1rem;
  }
  
  .carousel-btn-container {
    display: flex;
    justify-content: center;
  }
  
  .carousel-btn {
    background-color: #407050;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  
  #currentPlantDetails {
    margin-top: 1rem;
    text-align: center;
  }
  
  .search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  
  .search-results div {
    padding: 1rem;
    border-radius: 5px;
    background-color: #0f1d1b;
    color: #ffffff;
  }
  
  .search-results img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }


  